.font-24 {
  font-size: 24px !important;
}

.font-32 {
  font-size: 32px !important;
}

.red-tag {
  background-color: red;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 0 1rem;
}

.green-tag {
  background-color: lawngreen;
  color: #FFFFFF;
  border-radius: 12px;
  padding: 0 1rem;
}

.app-container {
  margin: 0 0 0 100px;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.project-card {
  color: white;
  background-color: green;
  text-align: center;
  margin: 10px;
  flex: 0 1 calc(30% - 20px);
  height: 200px;
  border-radius: 34px;
}


@media all and (max-width: 767px) {
  .app-container {
    margin: 50px 0 0 0;
  }

  .project-card {
    flex: 0 0 calc(50% - 20px);
  }
}

@media all and (max-width:600px) {
  .project-card {
    flex: 1 0 95%;
  }
}
